@import url("https://fonts.googleapis.com/css?family=Indie+Flower");
@import url("https://fonts.googleapis.com/css?family=Handlee");
body { margin: 0; font-family: 'Indie Flower', cursive; background: #0091EA; }

.board > h1 { display: inline-block; font-family: 'Handlee', cursive; text-transform: uppercase; font-size: 3rem; margin: 15px 25px 15px 0; color: #ccc; text-shadow: 0px 0px 2px #000; }

.board { box-sizing: border-box; margin: 25px; text-align: center; border: 2px dashed #ccc; }

.board button { border: none; padding: 5px 10px; font-size: 1.2rem; cursor: pointer; }

.board > button { padding: 10px; font-size: 1.7rem; border-radius: 10px; }

.card .btn-delete { position: absolute; right: 0; top: 0; width: 30px; height: 50%; }

.card .btn-edit { position: absolute; bottom: 0; right: 0; width: 30px; height: 50%; }

.column-container { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

.column { position: relative; width: 300px; min-height: 400px; max-height: 600px; overflow: auto; background: #EEEEEE; margin-left: 20px; margin-bottom: 25px; border-radius: 5px; }

.card-list { list-style-type: none; min-height: 50%; }

.column-title { font-size: 2rem; margin: 0; }

.column > .btn-delete { margin-right: 10px; }

.column > .btn-edit { position: absolute; top: 0; right: 0; }

.card { position: relative; box-sizing: border-box; width: 90%; background: #FAFAFA; border: 1px solid #ccc; margin-bottom: 5px; }

.card-placeholder { background: red; }
